---
title: Servicios que ofrecemos

---

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h4><%= data.contact.long_name %> es una empresa que tiene como objetivo el promover la venta de casas y departamentos habitacionales, brindando la asesoría y el apoyo necesario a las personas que quieren adquirir algún bien, con seguridad y conforme a las expectativas que estas personas y su familia tienen.<br/><br/>Buscamos y Comercializamos con Constructoras y Desarrolladoras que cuenten con viviendas pensadas en tus necesidades, tales como Ubicación, Seguridad, Comodidad y Precio.</h4><br/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->

<%= partial 'partials/services' %>
<%= partial 'partials/calltoaction' %>
