---
title: Servicios que ofrecemos
---

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h4> Buscamos y Comercializamos con Constructoras y Desarrolladoras que cuenten con viviendas pensadas en tus necesidades, tales como Ubicación, Seguridad, Comodidad y Precio.<br/><br/>
					Una vez seleccionadas las mejores opciones para tí, adecuamos nuestro producto a tus necesidades. </h4><br/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->

<%= partial 'partials/services' %>
<%= partial 'partials/calltoaction' %>
