<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>¡Solicita tu Crédito sin costo!</h3>
					<% link_to 'mailto:'+data.contact.email, :class => 'btn btn-orange' do %>
						<i class="fa fa-envelope" aria-hidden="true"></i> Solicitar Crédito
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->