<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>¿Quieres comprar una vivienda nueva o usada?</h3>
					<h4>Nosotros te podemos ayudar a tratimar un Crédito: INFONAVIT, FOVISSSTE o Bancario ¡sin costo!</h4><br/>
					<% link_to 'mailto:'+data.contact.email, :query => { :subject => 'Ayuda para solicitar Credito de Vivienda', :body => 'Favor de ayudarme a tramitar un Credito de vivienda, porque estoy interesado en comprar.' }, :class => 'btn btn-primary' do %>
						<i class="fa fa-envelope" aria-hidden="true"></i> Solicitar ayuda
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->