<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
  <div class="container">

    <div class="menuextras">
    </div>

    <nav id="mainmenu" class="mainmenu">
      <ul>
        <li class="logo-wrapper">
          <a href="/">
            <%= image_tag("mPurpose-logo.png", alt: "Prohabit") %>
          </a>
        </li>
        <li class="active">
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/properties">Viviendas</a>
        </li>
        <li>
          <a href="/services">Nuestros Servicios</a>
        </li>
        <li>
          <a href="/contact">Contáctanos</a>
        </li>
        <li>
          <a href="/about">Quiénes somos</a>
        </li>
        <li>
          <a href="/faqs">Preguntas frecuentes</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
<!-- End Navigation & Logo-->
