<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
  <div class="container">

    <div class="menuextras">
    </div>

    <nav id="mainmenu" class="mainmenu">
      <ul>
        <li class="logo-wrapper">
          <a href="index.html">
            <%= image_tag("mPurpose-logo.png", alt: "Prohabit") %>
          </a>
        </li>
        <li class="active">
          <a href="index.html">Inicio</a>
        </li>
        <li>
          <a href="features.html">Contáctanos</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
<!-- End Navigation & Logo-->
