---
title: Preguntas frecuentes
---

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<div class="section">
<div class="container">
<div class="row">
  <div class="col-md-12 faq-wrapper">
    <div class="panel-group" id="accordion2">
      <h3>Preguntas Generales</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
            Quiero aprovechar mi crédito Infonavit pero me prestan poco (entre $240,000 y $260,000), ¿qué puedo hacer?
          </a>
        </div>
        <div id="collapse11" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="answer">Respuesta:</div>
            <p>El Gobierno Federal otorga Apoyos o Subsidios en algunos Fraccionamientos para trabajadores que tienen un salario registrado menor a $6,000 mensuales y que cumplen ciertos requisitos establecidos por la Conavi.

Entre los requisitos necesarios para solicitar un Subsidio son: estar cotizando ante Infonavit, tener una relación laboral vigente, al menos 116 puntos y $11,500 en tu Subcuenta de vivienda del Afore (si tienes menos puedes completarlos).

Los Subsidios los otorga el Gobierno con base en una lista de espera, dependiendo de la disponibilidad de recursos, y variando en cada zona y Fraccionamiento.

La cantidad de Subsidio que otorga el Gobierno depende del valor de la vivienda y de tu salario registrado, pudiendo recibir un Subsidio de entre $30,000 y hasta $60,000.

Actualmente, solamente los departamentos en edificios de 5 niveles anunciados están disponibles con Subsidio. Las casas dúplex y las casas solas anunciadas no están disponibles con Subsidio, solamente con crédito Infonavit.

Contáctanos para analizar tu crédito Infonavit e indicarte las viviendas a tu alcance.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem?
          </a>
        </div>
        <div id="collapse12" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="answer">Answer:</div>
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
            Quisque nec tincidunt lectus. Nulla sit amet auctor leo?
          </a>
        </div>
        <div id="collapse13" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="answer">Answer:</div>
            <p>Pellentesque in velit et enim porta aliquam. Curabitur eget ligula dui, a euismod lectus. Phasellus eget facilisis nulla. Suspendisse sit amet dui nisl.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
            Sed mollis, lorem ut tempor scelerisque, turpis enim tincidunt mi, eget venenatis neque eros in ipsum. Fusce in augue ante?
          </a>
        </div>
        <div id="collapse14" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="answer">Answer:</div>
            <p>Aenean nec mi a nisl molestie pretium nec sed velit. Vestibulum ultrices, arcu vitae varius pulvinar, justo sapien mollis dui, eget dapibus massa felis sed nulla. Maecenas in varius nulla. Praesent mollis diam vitae libero sollicitudin commodo lobortis tortor tempor. Fusce rutrum orci consequat nunc ultricies egestas. Sed vitae tortor sapien. Vivamus ac libero eu arcu aliquet pretium eu vitae sem. Sed tincidunt varius pellentesque.</p>
          </div>
        </div>
      </div>
      <h3>Orders</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse21">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
          </a>
        </div>
        <div id="collapse21" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="answer">Answer:</div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse22">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem?
          </a>
        </div>
        <div id="collapse22" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="answer">Answer:</div>
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias</p>
          </div>
        </div>
      </div>
      <h3>Our Services</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse31">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
          </a>
        </div>
        <div id="collapse31" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="answer">Answer:</div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse32">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem?
          </a>
        </div>
        <div id="collapse32" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="answer">Answer:</div>
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
