---
title: Quiénes somos
---

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Promotora Inmobiliaria ProHabit</h3>
        <p>
          Somos la <strong>Promotora Inmobiliaria ProHabit</strong> una empresa 100% mexicana que se esfuerza por brindarle a los Poblanos un patrimonio y bienestar social, a través de la venta de conjuntos habitacionales donde la calidad, diseño y estética de cada elemento urbano se suman para brindar mejor estatus y más prestigio.
        </p>
        <h3>Misión</h3>
        <p>
          En <strong>Promotora Inmobiliaria ProHabit</strong>, nuestra misión tácita y expresa es: <i>"Ayudarte en el trascendental paso de lograr tener tu propia casa"</i>. Permítenos ser parte del proceso, de realizar uno de los sueños más importantes de tu vida: "Tener tu propio hogar y una nueva forma de vivir".
        </p>
       <h3>Visión</h3>
        <p>
          Ser la Promotora Inmobiliaria de Puebla líder en su ramo, dando un servicio de excelencia a sus clientes, a la hora de tomar la decisión de adquirir su propio hogar. Buscamos lograr la satisfacción total de nuestros clientes, ofreciendo un servicio personalizado que permita cumplir con las expectativas de nosotros y de nuestros clientes.
        </p>
       <h3>Nuestos Valores</h3>
        <p>
          

    COMPROMISO.- Cumplir lo acordado con el cliente en cada venta.
    CALIDAD.- En nuestros productos y servicios.
    SERVICIO.- Dedicado y atento para con los clientes.
    PUNTUALIDAD.- En la entrega y cumplimiento de las acciones.


        </p>
      </div>
      <div class="col-sm-6">
        <div class="video-wrapper">
          <iframe src="http://player.vimeo.com/video/47000322?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'partials/calltoaction' %>